*{
    box-sizing: border-box;
    border: 1px solid red;
}
:root {
    --even-bg: pink;
    display: flex;
   ;
    --odd-bg: green;
    display: flex;
    
}

#board{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    border-color: pink;
    height: 300px;
    width: 300px;
    
}

.pageWrapper{
    align-items: center;
} 

.circle {

    background-image:url(Project_Images/Circle\ \(1\).png)
    
    


}
.cross{
    background-image:url(Project_Images/cross\ \(1\).png)
    
}